dist/
node_modules/
npm-debug.log
.DS_Store
.vscode/
.idea/
__pycache__
.turbo
.next
.vercel

*storybook.log
storybook-static

# Ignore pnpm-lock.yaml in all subdirectories, but not in the monorepo root.
**/pnpm-lock.yaml
!/pnpm-lock.yaml

# We use pnpm, not npm.
package-lock.json