@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  .animated-black-underline {
    @apply underline underline-offset-2 decoration-gray-400 decoration-1 hover:decoration-2 hover:decoration-gray-600 transition-all;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, system-ui, sans-serif;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow-border {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
}

.rainbow-border::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -100%;
  top: -800%;
  width: 300%;
  height: 1700%;
  background-color: #FF9E00;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: 
    linear-gradient(#FFE600, #FF1279),
    linear-gradient(#FF9E00, #2E1190),
    linear-gradient(#FFE600, #00F0FF),
    linear-gradient(#00F0FF, #FFE600);
  animation: rotate 3.5s linear infinite;
}

.rainbow-border::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 4px;
  top: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: black;
  border-radius: 8px;
}
